<h1>Music Catalog </h1>

<h2>@Model["artist"].Description</h2>
<h3>Genre: @Model["genre"].Name</h3>

<a href='/genres/@Model["genre"].Id/artists/new'>Add another artist/a>
<a href='/genres'>View all genres</a>